<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p class="text-justify">
          Arthur fell in love with collaborative storytelling by LARPing at the ripe old age of 8, and they want to bring that love to your table. Using their exhaustive background in stage improv, long nights reading system rulebooks, and over 8 years of GM experience, Arthur will lead gameplay that fits your group's play style. Let's craft a story together, one driven by the characters you create, that you'll remember for years to come.        
        </p>
        <p class="text-center">
          <b>
            How would you describe your Game Master (GM) style?
          </b>
        </p>
        <p class="text-justify">
          Role play focused, improvisational, enthusiastic, a safe space for players. Encourages exploration, and players to be a part of the world building process.
        </p>
        <p class="text-center">
          <b>
            What makes you unique as a GM?
          </b>
        </p>
        <p class="text-justify">
          I create a story around the players' characters, taking every bit of information they give me, making it a central part of the story, and rewarding player engagement with a deeper connection to the world.
        </p>
        <p class="text-center">
          <b>
            What else should people know about you?
          </b>
        </p>
        <p class="text-justify">
          I prioritize my table to be a safe space for all who sit at it; role playing can be a vulnerable act and I am here to help make everyone have a good time. I’m not here to push your boundaries, but create a space where you feel comfortable exploring your own.
        </p>
        <p class="text-center">
          <b>
            What apps or software do you use to run your games?
          </b>
        </p>
        <p class="text-justify">
          Discord, Google Meet, Roll20, Tabletop Simulator
        </p>
      </div>
    </div>
  </div>
</section>