<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <p>Arthur fell in love with collaborative storytelling by LARPing at the ripe old age of 8, and they want to bring that love to your table. Using their exhaustive background in stage improv, long nights reading system rulebooks, and over 8 years of GM experience, Arthur will lead gameplay that fits your group's play style. Let's craft a story together, one driven by the characters you create, that you'll remember for years to come.</p>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
